[Unit]
Description=gunicorn daemon
Requires=dd-gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/dd-pid
User=root
Group=root
RuntimeDirectory=gunicorn
Environment="MYSQL_HOST=isucon003"
WorkingDirectory=/home/isucon/isucari/webapp/python
ExecStart=/usr/local/bin/ddtrace-run /usr/local/bin/gunicorn -k gevent --pid /run/gunicorn/dd-pid --bind unix:/run/gunicorn/socket app:app --workers=5
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
