[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=root
Group=root
RuntimeDirectory=gunicorn
Environment="ISUBATA_DB_HOST=isucon.trial.ubuntu002" "ISUBATA_DB_USER=isucon" "ISUBATA_DB_PASSWORD=isucon"
WorkingDirectory=/opt/isucon7-qualify/webapp/python
ExecStart=/usr/local/bin/gunicorn -k gevent --pid /run/gunicorn/pid --bind unix:/run/gunicorn/socket app:app --workers=10
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target